<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
               <input type="text" class="form-control" placeholder="Buscar Usuario"  [(ngModel)]="search" (ngModelChange)="filtrarDatos($event)">
            </div>
        </div>
    </div>
</div>

<!-- LOADING -->

<div class="row" *ngIf="!filtroUsuarios.length">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por Favor Espere...</p>

        </div>
    </div>
</div>

<!-- TABLA -->
<div class="row">
    <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Imagen</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Auth</th>
                        <th class="text-nowrap">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of filtroUsuarios " >
                        
                        <td>{{data.nombre}}</td>
                        <td> <img [src]="data.img | transformaUrlImg" alt="{{ data.nombre }}" width="50"></td>
                        <td>{{data.email}}</td>
                        <td>{{data.role}}</td>
                        <td>
                            <span *ngIf="data.google==true" class="label label-danger">Google</span>
                            <span *ngIf="data.google!=true" class="label label-info">Email</span>
                        </td>
                     
                     
                      
                        <td class="text-nowrap">
                            <button class="btn btn-info separaBoton">Editar</button> 
                           
                            <button class="btn btn-danger"  (click)="EliminarUsuario(data)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>