<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
               <input type="text" class="form-control" placeholder="Buscar Usuario"  [(ngModel)]="search" (ngModelChange)="filtrarDatos($event)">
            </div>
        </div>
    </div>
</div>

<!-- LOADING -->

<div class="row" *ngIf="!filtroUsuarios.length">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por Favor Espere...</p>

        </div>
    </div>
</div>

<!-- TABLA -->
<div class="row">
    <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Imagen</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Auth</th>
                        <th class="text-nowrap">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of filtroUsuarios " >
                        
                        <td>{{data.nombre}}</td>
                        <td> <img [src]="data.img | transformaUrlImg" alt="{{ data.nombre }}" width="50" data-toggle="modal" data-target="#exampleModalCenter"></td>
                        <td>{{data.email}}</td>
                        <td>
                            <select class="form-control" [(ngModel)]="data.role" (change)="CambiarRol(data)">
                                <option value="ADMIN_ROLE">Admin</option>
                                <option value="USER_ROLE">User</option>
                            </select>
                        </td>
                        <td>    
                            <span *ngIf="data.google==true" class="label label-danger">Google</span>
                            <span *ngIf="data.google!=true" class="label label-info">Email</span>
                        </td>
                     
                     
                      
                        <td class="text-nowrap">
                            <button class="btn btn-info separaBoton">Editar</button> 
                           
                            <button class="btn btn-danger"  (click)="EliminarUsuario(data)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- MODAL -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Cargar Imagen</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="image">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>